# Virtual Environment
venv/
.env/

# Django
config/db.sqlite3
db.sqlite3
media/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Old frontend 
front-end-template/
front-end-template_2/


# OS
.DS_Store
Thumbs.db